$background-left: #add8e6
$background-right: #faebd7

*
  font-family: 'Montserrat', sans-serif
  margin: 0
  padding: 0
  overflow: hidden

body
  font-size: 18px
  background: linear-gradient(90deg, $background-left 50%, $background-right 50%)

.material-icons
  font-size: 30px
  cursor: pointer