.item-group
  display: grid
  grid: "content icons" / 5fr auto

  li
    h3
      padding: 10px 15px

    p
      padding: 10px 15px

  .options-group
    display: flex
    flex-flow: column
    place-self: center
    justify-items: center

    i
      text-align: center
      place-self: center
      margin: 2px 2px
      padding: 3px 3px