.item-group
  display: grid
  grid: "content icons" "input-group icons" / 5fr auto
  li
    h3
      padding: 10px 15px

    p
      padding: 10px 15px

  #input-group
    grid-area: input-group

  .options-group
    display: flex
    flex-flow: column
    place-self: center
    justify-items: center
    grid-area: icons

    i
      text-align: center
      place-self: center
      margin: 2px 2px
      padding: 3px 3px