.section-container
  display: flex
  flex-flow: column nowrap

.section-header
  display: grid
  grid: "title btn" / 5fr auto

  h2
    text-align: center
    margin: 0
    padding: 10px 15px

  i
    text-align: center
    place-self: center
    padding: 10px 10px

.section-list
  display: flex
  flex-flow: column nowrap
  place-self: center
  width: 80%

.section-input-group
  display: flex
  flex-flow: column nowrap
  place-self: center
  align-items: center
  width: 80%