.section-container
  display: flex
  flex-flow: column nowrap

.section-header
  display: grid
  grid: "title btn" / 5fr auto
  min-height: 50px
  margin: 10px 15px

  h2
    text-align: center
    margin: 0
    padding: 10px 15px

  i
    text-align: center
    place-self: center
    padding: 10px 10px

.section-list
  width: 80%
  max-height: 200px
  align-self: center
  overflow: auto

.section-input-group
  display: flex
  flex-flow: column nowrap
  align-self: center
  width: 80%

  input
    width: 100%
    padding: 10px 15px

  button
    width: 100%