#time-block-list
  padding: 10px 15px
  overflow-y: auto

  li
    margin: 0 5px

.time-block-group
  display: flex
  flex-flow: row nowrap
  margin: 15px

  .time-block-time
    text-align: center
    align-self: center
    padding-right: 5px
    min-width: 60px

  .time-block-item-display
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    width: 100%
    min-height: 50px
    border-top: 2px solid black
    border-bottom: 2px solid grey
